* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #202124;
  color: white;
}

input,
textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
  font-weight: bold;
}

.note-app__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 30px;
  border-bottom: 1px solid #aaa;
  position: sticky;
  top: 0;
  background-color: #202124;
}

.note-app__header h1 {
  margin: 8px 0;
  flex: 1;
  color: white;
  font-size: 25px;
}


.note-app__body {
  max-width: 1000px;
  margin: 16px auto;
  padding: 12px;
}

.note-app__body h2 {
  font-weight: normal;
  margin: 16px 0;
}

.note-input {
  margin: 0 auto;
  max-width: 800px;
}

.note-input input,
.note-input textarea {
  display: block;
  width: 100%;
}

.note-input__title {
  font-weight: bold;
}

.note-input__title__closebuton {
  cursor: pointer;
  color: var(--grey);
  padding: 0.2rem;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.2rem;
}

.note-input__title__closebuton :hover {
  color: #838080;
}

.note-input__title__note {
  justify-content: center;
  display: flex;
}

.note-input__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: #aaa;
}

.note-input__body {
  min-height: 175px;
  resize: vertical !important;
}

.note-input button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  color: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.note-input button:hover {
  color: #fff;
  border: 1px solid #fff;
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.notes-list__empty-message {
  text-align: center;
  color: #aaa;
}

.note-item {
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.note-item__content {
  padding: 18px;
  flex: 1;
}

.note-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
}

.note-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: #aaa;
}

.note-item__body {
  font-size: 14px;
  line-height: 1.5;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 20px;
}

.note-item__action {
  display: flex;
}

.note-item__delete-button,
.note-item__archive-button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #aaa;
  padding: 8px 0;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.note-item__delete-button {
  color: #ff5f52;
}

.note-item__archive-button {
  border-right: 1px solid #aaa;
  color: #4acf67;
}

.note-item__archive-button:hover {
  color: #66ff00;
}

.note-item__delete-button:hover {
  color: #b00020;
}

.notes-app__footer {
  border-top: 1px solid #aaa;
  margin-top: 50px;
  padding: 30px;
  text-align: center;
}

.note-body__heading {
  text-align: center;
}

.note-body__add-note-button {
  border: 1px solid #aaa;
  border-radius: 4px;
  color: #4acf67;
  display: block;
  width: 100%;
  background-color: transparent;
  padding: 12px 10px;
  margin-bottom: 50px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.note-body__add-note-button:hover {
  color: #66ff00;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  width: 300px;
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }

  .ReactModal__Content,
  .ReactModal__Content--after-open {
    width: 300px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }

  .ReactModal__Content,
  .ReactModal__Content--after-open {
    width: 600px;
  }
}

@media only screen and (min-width: 1200px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .ReactModal__Content,
  .ReactModal__Content--after-open {
    width: 850px;
  }

  .note-search input {
    min-width: 400px;
  }
}